.address-form-container {
  width: 100%;
  min-width: 330px;
  min-height: 705px;
  background-color: #eee;
}

.address-form-container .card {
  position: relative;
  top: 20px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  min-width: 330px;
  max-width: 400px;
}

.address-form-container .card h3 {
  text-transform: uppercase;
}

.address-form-container .card p, .address-form-container .card a {
  margin: 20px 0;
  line-height: 1.5rem;
  text-decoration: none;
  color: #000;
}

.address-form-container .card .form-container {
  width: 100%;
}

.address-form-container .card .form-container .form-group {
  margin: 15px 0;
}

.address-form-container .card .form-container .form-group .label, .address-form-container .card .form-container .form-group .form-control {
  display: block;
  margin: 0 0 2px 0;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border: none;
}

.address-form-container .card .form-container .form-group .label {
  font-size: 0.9rem;
}

.address-form-container .card .form-container .form-group .form-control {
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  padding: 10px 0 10px 10px;
}

.address-form-container .card .form-container .form-group .check {
  margin: 0 0 20px;
  color: #444;
}

.address-form-container .card .form-container .form-group .text-warning {
  margin-top: 5px;
  color: #eb4559;
  font-size: 0.8rem;
  line-height: 1rem;
}

.address-form-container .card .form-container .form-group .check-label {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-form-container .card .form-container .form-group .check-label p {
  position: relative;
  top: -2px;
  margin: 0 0 2px 3px;
  font-size: 0.9rem;
}

.address-form-container .card .form-container .state-and-zip-container {
  width: 100%;
  max-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
}

.address-form-container .card .form-container .state-and-zip-container .state-and-zip-label {
  margin: 0;
  padding: 0;
  width: 0;
}

.address-form-container .card .form-container .state-and-zip-container .state-and-zip {
  width: 30%;
  max-width: 400px;
  padding-left: 10px;
}

.address-form-container .card .form-container .state-and-zip-container .state-and-zip-left {
  margin-right: 10%;
}

.address-form-container .card .form-container .button-group {
  margin-top: 20px;
  text-align: center;
}

.address-form-container .card .form-container .button-group button {
  width: 130px;
  margin: 10px 30px;
  padding: 10px 0;
  border-radius: 5px;
  border: 2px solid #777;
  color: #777;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.address-form-container .card .form-container .button-group button:hover {
  color: #fff;
  background-color: #eb4559;
  border: 2px solid #eb4559;
}

.address-form-container .card .form-container .signup-container {
  margin: 20px 0;
}

.address-form-container .card .form-container .signup-container .signup {
  color: #444;
  list-style: none;
  font-size: 0.9rem;
}

.address-form-container .login-card {
  max-width: 250px;
  text-align: center;
  padding: 20px 50px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.address-form-container .login-card .login-container .signup:hover {
  color: #b4b4b4;
}

@media screen and (max-width: 500px) {
  .address-container {
    background-color: #E5E5E5;
  }
  .address-container .card {
    padding: 0;
  }
  .address-container .card .form-container .button-group button {
    margin: 10px 10px;
  }
}
/*# sourceMappingURL=addressForm.css.map */