$linkColor: #444;
$hoverColor: #eb4559;
$warningMessage: #eb4559;
$successMessage: #299114;

$width: 15px;
$height: 15px;

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}


.modal-container {
    // margin: 0 auto;
    width: 300px;
    padding: 20px 40px ;
    text-align: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    .login-card {
        // max-width: 250px;
        text-align: center;
        padding: 20px 0;
        width: 100%;
        h3 {
            text-transform: uppercase;
        }
        p, a {
            margin: 20px 0;
            line-height: 1.5rem;
            text-decoration: none;
            color: #000;
        }
        .form-container {
            width: 100%;
            .form-group {
                margin: 15px 0;
                .label, .form-control {
                    width: 100%;
                    display: block;
                    margin: 0 0 2px 0;
                    border-radius: 5px;
                    outline: none;
                    border-style:solid;
                    border:none;
                }
                .label {
                    font-size: 0.9rem;
                }
                .form-control{
                    margin-top: 5px;
                    padding: 10px 0 10px 10px;
                }
                .check {
                    margin: 0 0 20px;
                    color: $linkColor;
                }
                .text-warning {
                    margin-top: 5px;
                    color: $hoverColor;
                    font-size: 0.8rem;
                    line-height: 1rem;
                }
                .check-label {
                    margin-top: 20px;
                    display: flex;
                    p {
                        position: relative;
                        top: -2px;
                        margin: 0 0 2px 3px;
                        font-size: 0.9rem;
                    }
                }
            }
            .state-and-zip-container {
                display: flex;
                flex-direction: row;
                padding: 0;
                margin: 0;
                .state-and-zip-label {
                    margin: 0;
                    padding: 0;
                    width: 0;
                }
                .state-and-zip {
                    width: 50%;
                }
                .state-and-zip-left {
                    margin-right: 10%;
                }
            }
            .button-group {
                margin-top: 20px;
                button {
                    padding: 10px 30PX;
                    border-radius: 5px;
                    border: 2px solid #777;
                    color: #777;
                    cursor: pointer;
                    transition: 0.1s ease-in-out;
                }
                button:hover {
                    color: #fff;
                    background-color: $hoverColor;
                    border: 2px solid $hoverColor;
                }
                .back-button {
                    margin-left: 40px;
                }
            }
            .signup-container {
                margin: 20px 0;   
                .signup {
                    color: #444;
                    list-style: none;
                    font-size: 0.9rem;
                }
                .signup:hover {
                    color: rgb(180, 180, 180);
                }
                
            }
            .message-container {
                .message {
                    font-weight: bold;
                }
                .warning {
                    color: $warningMessage;
                }
                .success {
                    color: $successMessage;
                }
            }
        }
    }
}
.modal-container:focus {
    outline:0 !important;
}