.contact-container {
  width: 100%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.contact-container .contact-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 70px auto;
  width: 60%;
}

.contact-container .contact-cards-container .card {
  margin: 0;
}

.contact-container .contact-cards-container .card h3 {
  text-transform: uppercase;
}

.contact-container .contact-cards-container .card p, .contact-container .contact-cards-container .card a {
  margin: 20px 0;
  line-height: 1.5rem;
  text-decoration: none;
  color: #000;
}

.contact-container .contact-cards-container .card .form-container {
  width: 100%;
}

.contact-container .contact-cards-container .card .form-container .form-group {
  margin: 15px 0;
}

.contact-container .contact-cards-container .card .form-container .form-group .label, .contact-container .contact-cards-container .card .form-container .form-group .form-control {
  width: 100%;
  display: block;
  margin: 0 0 2px 0;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border: none;
}

.contact-container .contact-cards-container .card .form-container .form-group .label {
  font-size: 0.9rem;
}

.contact-container .contact-cards-container .card .form-container .form-group .form-control {
  margin-top: 5px;
  padding: 10px 0 10px 5px;
}

.contact-container .contact-cards-container .card .form-container .form-group .check {
  margin: 0 0 20px;
  color: #444;
}

.contact-container .contact-cards-container .card .form-container .form-group .text-warning {
  margin-top: 5px;
  color: #eb4559;
  font-size: 0.8rem;
  line-height: 1rem;
}

.contact-container .contact-cards-container .card .form-container .form-group .check-label {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .contact-cards-container .card .form-container .form-group .check-label p {
  position: relative;
  top: -2px;
  margin: 0 0 2px 3px;
  font-size: 0.9rem;
}

.contact-container .contact-cards-container .card .form-container .button-group {
  margin-top: 20px;
}

.contact-container .contact-cards-container .card .form-container .button-group button {
  padding: 10px 30PX;
  border-radius: 5px;
  border: 2px solid #777;
  color: #777;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.contact-container .contact-cards-container .card .form-container .button-group button:hover {
  color: #fff;
  background-color: #eb4559;
  border: 2px solid #eb4559;
}

@media screen and (max-width: 1200px) {
  .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container .contact-cards-container {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
}

@media screen and (max-width: 700px) {
  .contact-container .contact-cards-container {
    width: 80%;
  }
}
/*# sourceMappingURL=contact.css.map */