$linkColor: #444;
$hoverColor: #eb4559;


.contact-container {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms ease-in-out;
    .contact-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin: 70px auto;
        width: 60%;
        .card {
            margin: 0;
            h3 {
                text-transform: uppercase;
            }
            p, a {
                margin: 20px 0;
                line-height: 1.5rem;
                text-decoration: none;
                color: #000;
            }
            .form-container {
                width: 100%;
                .form-group {
                    margin: 15px 0;
                    .label, .form-control {
                        width: 100%;
                        display: block;
                        margin: 0 0 2px 0;
                        border-radius: 5px;
                        outline: none;
                        border-style:solid;
                        border:none;
                    }
                    .label {
                        font-size: 0.9rem;
                    }
                    .form-control{
                        margin-top: 5px;
                        padding: 10px 0 10px 5px;
                    }
                    .check {
                        margin: 0 0 20px;
                        color: $linkColor;
                    }
                    .text-warning {
                        margin-top: 5px;
                        color: $hoverColor;
                        font-size: 0.8rem;
                        line-height: 1rem;
                    }
                    .check-label {
                        margin-top: 20px;
                        display: flex;
                        p {
                            position: relative;
                            top: -2px;
                            margin: 0 0 2px 3px;
                            font-size: 0.9rem;
                        }
                    }
                }
                .button-group {
                    margin-top: 20px;
                    button {
                        padding: 10px 30PX;
                        border-radius: 5px;
                        border: 2px solid #777;
                        color: #777;
                        cursor: pointer;
                        transition: 0.1s ease-in-out;
                    }
                    button:hover {
                        color: #fff;
                        background-color: $hoverColor;
                        border: 2px solid $hoverColor;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .contact-container {
        flex-direction: row;
        .contact-cards-container {
            grid-template-columns: none;
            grid-template-rows: 1fr 2fr;
        }
    }
};
@media screen and (max-width: 700px) {
    .contact-container {
        .contact-cards-container {
            width: 80%;
        }
    }
};
@media screen and (max-width: 700px) {
    .contact-container {
        .contact-cards-container {
            width: 100%;
        }
    }
};